// forth-block and fifth-block css styles

.forth-block-container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.forth-block-box {
    width: calc(100%/3);
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3rem;

    article {
        font-weight: 300;
        line-height: 2;
        color: #636363;
    }
}

.svg-box {
    margin-right: 10px;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #363636;
}

.fifth-block-prices {
    font-weight: 500;
    margin-bottom: 200px;
    flex-wrap: wrap;
}

.prices-box:first-child .options .th-text,
.prices-box:first-child .options .price {
    color: #b3b3b3;
}

.prices-box:first-child .options .th-text {
    font-size: 1.5rem;
}

.prices-box:first-child .options button {
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #a5a5a5;
    border: none;
    border-radius: 2px;
    padding: 1rem 3rem;
    color: #fff;
}

.prices-box:first-child .options .price {
    font-size: 2.2rem;

    span {
        font-size: 1.4rem;
    }
}

.prices-box:nth-child(2) {
    color: #f26c4f;

    .options {
        .th-text {
            font-size: 2rem;
        }

        .option {
            color: #363636;
            font-size: 1.2rem;
            border-left: 1px solid #ffbf37;
            border-right: 1px solid #ffbf37;
        }

        .price {
            width: 100%;
            font-size: 4rem;
            display: flex;
            justify-content: center;
            border-left: 1px solid #ffbf37;
            border-right: 1px solid #ffbf37;

            span {
                font-size: 1.4rem;
            }
        }

        button {
            font-size: 1.2rem;
            text-transform: uppercase;
            background: #f26c4f;
            border: none;
            border-radius: 2px;
            padding: 1rem 3rem;
            color: #fff;
        }
    }
}

.prices-box:last-child {
    color: #fbc73a;

    .options {
        .th-text {
            font-size: 1.5rem;
        }

        .option {
            color: #b3b3b3;
            font-size: 1.2rem;
        }

        .price {
            font-size: 2.5rem;

            span {
                font-size: 1.4rem;
            }
        }

        button {
            font-size: 1.2rem;
            text-transform: uppercase;
            background: #fbc73a;
            border: none;
            border-radius: 2px;
            padding: 1rem 3rem;
            color: #fff;
        }
    }
}

.options {
    justify-content: center;
    align-items: center;

}

.th-text {
    height: 4rem;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid #ffbf37;
    color: #b3b3b3;
}

.price {
    height: 7rem;
    display: flex;
    align-items: flex-end;
}

.prices-box {
    width: calc(100%/3);
}

.order-form {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    //height: 45vh;
    background: $yellow;
    transform: translate(-50%, -50%);
    border: 2px solid $darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    padding:4rem 0;
    label {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $white;
        font-size: 1.1rem;
        margin: 1rem 0;
        input[type='text'],
        input[type='e-mail']{
            width: 60%;
            height: 1.8rem;
            border:none;
        }
        input[type="submit"]{
            margin:2rem auto 0;
            width:30%;
            border:3px solid $darkgrey;
            color:$white;
            background: transparent;
            padding:0.5rem 2rem;
            text-transform: uppercase;
            &:hover{
                border:3px solid $white;  
            }
        }
    }
}
.close-btn{
    position: absolute;
    top:5%;
    right: 5%;
    width:30px;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    span{
        position :absolute;
        width: 100%;
        height: 4px;
        background: $white;
        border-radius: 2px;
        transform:rotate(45deg);
    }
    span:nth-child(2){
        transform:rotate(-45deg);
    }
    &:hover{
        transform: scale(1.2)
    }
}
.disactive{
    display: none;
}