// header and first-block styles

header {
    position: fixed;
    width: 100%;
    background: $yellow;
    padding: 2rem 0;
    z-index: 2;
}

.first-block {
    background: $yellow;
    padding-top: 200px;
    padding-bottom: 100px;
}

.nav-section {
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    color: $darkgrey;
    text-align: center;

}

.nav-section-adaptive {
    display: none;
}

.logo {
    width: 30%;
    font-size: 2em;
    text-align: start;
}

.logo-span {
    color: $white;
    border: 3px solid #fff200;
    padding: 2px 8px;
}

.navbar {
    width: 70%;

    & ul {
        width: 100%;
        align-items: center;
        list-style: none;

        & li {
            width: calc(100%/7);

            a {
                position: relative;
                color: $darkgrey;
                text-decoration: none;

                &:hover {
                    color: #fff;
                    transition: all 1s;
                }
            }
        }
    }
}

.last {
    position: relative;
}

.last:after {
    content: '(+966-322-322)';
    position: absolute;
    width: 120%;
    top: 20px;
    left: -5px;

}

/* .last{
    position:absolute;
    top:7px;
} */


.first-block-main {
    justify-content: space-between;
    color: $white;
}

.first-block-section {
    width: 40%;

    article {
        width: 80%;
        font-size: 1.1rem;
        line-height: 2;
        max-height: 2rem *12;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 1.5rem;
    }

    button {
        background: $darkgrey;
        font-size: 1.1rem;
        color: $white;
        padding: 15px;
        border: none;
        border-radius: 3px;
        align-items: center;

        span {
            padding: 0 0.3rem;
        }
    }
}

h1 {
    font-size: 3em;
}

// Slider css settings

.slider-container {
    width: 50%;
    margin-top: 60px;
    overflow: hidden;
    cursor: pointer;
}

.slide-wraper {
    position: relative;
    height: 90%;
    display: flex;
    align-items: center;
    transition: left 1s linear;
}


.slide {
    float: left;
    // width:100%;
    height: auto;
    padding: 0 35px;
}

.disable {
    display: none;
}

.pagination {
    display: flex;
    width: 10%;
    margin: 1rem auto;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.pagination-elem {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 100%;
}

.pagination-elem.active {
    background: $darkgrey;
    /*  width:12px;
    height: 12px; */
    transform: scale(1.2);

}

// button scroll-up styles

.scroll-up {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 50px;
    height: 50px;
    background: $yellow;
    border-radius: 100%;
    border: 3px solid $darkgrey;
    display: flex;
    cursor: pointer;

    .scroll-up-animate {
        width: 100%;
        position: relative;
        animation: scroll 1s linear infinite;

        span {
            position: absolute;
            left: 17%;
            width: 40%;
            height: 4px;
            background: $darkgrey;
            transform: rotate(-45deg);
        }

        span:first-child {
            top: 28px;
        }

        span:nth-child(2) {
            top: 20px;
        }

        span:nth-child(3) {
            top: 12px;
        }

        span:after {
            content: '';
            position: absolute;
            right: -47%;
            top: 8px;
            width: 100%;
            height: 4px;
            background: $darkgrey;
            transform: rotate(90deg)
        }
    }

}

.scroll-up.disactive {
    display: none;
}

@keyframes scroll {
    0% {
        top: 0;
    }

    50% {
        top: -4px;
    }

    100% {
        top: 0;
    }
}