// second-block and third-block css styles
h2 {
    @include sorce;
    width: 40%;
    color: $white;
    font-size: 2em;
    background: $darkgrey;
    padding: 10px 20px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    margin: 140px auto;
}

.second-block-odd,
.second-block-even {
    justify-content: space-between;
    margin-bottom:200px;
}

.img-box {
    width: 45%;

    img {
        width: 100%;
        height: auto;
    }
}

.second-block-section {
    width: 45%;

    article {
        line-height: 2;
        max-height: 7*2rem;
        overflow: hidden;
    }
 /*    button{
        @include open;
        margin-top:1rem;
        font-weight: bold;
        color:$darkgrey;
        background: $yellow;
        border:none;
        border-radius: 3px;
        text-transform: uppercase;
        padding:15px 30px;
    } */
}

h3 {
    font-size: 1.2em;
    color: #252525;
    text-transform: uppercase;
    margin-bottom:1rem; 
}
.third-img-block{
  img{
      width: 100%;
      height: auto;
  }
}
